<%- include("header") -%>

<h2>This is the about page</h2>

<p>It is a TO-DO List web application made-up using " HTML, CSS, JavaScript, Node.js, Express.js, Mongoose and MongoDB" database to store user input data.</p>

<%- include("footer") -%>
